<li id="<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>

  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Reaction <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= button_to "Like", reactions_path #params?  %></li>
        <li><%= button_to "Dislike", reactions_path #params? %></li>
        <li><%= button_to "Desire", reactions_path #params? %></li>
        <li><%= button_to "None", reactions_path  #params? %></li>
      </ul>
    </li>
    <!-- <span class="content"> <%= 'Your reaction: ''Like: ' 'Dislike: ' 'Desire: ' %>  </span> -->
  </span>
</li>
